node_modules/
client/node_modules/
server/node_modules/

client/www/
client/dist/
artifacts/
cache/
typechain-types/

.env
server/.env
contracts/.env

*.log
.DS_Store
Thumbs.db

capacitor-cordova-android-plugins/
capacitor-cordova-ios-plugins/
plugins/
android/
ios/
